

.hero, .heroTeste2, .heroTeste3, .homeHero3{
	display: inline-flex;
	justify-content: space-between;
}

.homeHero4{
	display: inline-flex;
	width:100%;
	padding-bottom:32px;
}

.heroTeste2{
	background-color:#F6F6F6;
	padding-bottom:0;
	margin-bottom:96px;
	margin-top:-32px;
}

.heroTeste4{
	display: inline-flex;
	width:100%;
	border-bottom:none;
	margin-bottom:32px;
	padding-bottom:0!important;
}

.hero img, .heroTeste2 img, .heroTeste3 img, .homeHero3 img{
	width: 100%;
	height: auto;
}

.homeHero3 img{
	margin-bottom:24px;
}

.homeHero4 img, .homeImgLeft img{
	width:auto;
	height: calc(133vh - 160px);
}

.homeHero4, .heroTeste4{
	height: calc(133vh - 128px);
}

.hero p, .heroTeste2 p, .heroTeste3 p, .homeHero3 p, .homeHero4 p, .heroTeste4 p{
	width: 100%;
}

.hero div.heroContainer, .heroTeste2 div.heroContainer{
	width:50%;
	margin-right:32px;
}

.homeHero4 div.heroContainer{
	position: sticky;
	position: -webkit-sticky;
	top:128px;
	display: flex;
	align-items:center;
	height: calc(100vh - 256px);
	width:50%;
}

.heroTeste4 div.heroContainer{
	position: sticky;
	position: -webkit-sticky;
	top:128px;
	display: flex;
	align-items:center;
	height: calc(100vh - 128px);
	width:100%;
}

.hero h1, .heroTeste2 h1, .heroTeste3 h1, .heroTeste4 h1, .homeHero3 h1, .homeHero4 h1, .heroTeste4 h1{
	margin-bottom:-24px;
}

.heroTeste3 div.heroContainer, .homeHero3 div.heroContainer{
	width:50%;
	margin:auto 0;
}

.heroTeste3, .homeHero3{
	padding-bottom:32px!important
}

.heroTeste3 span.claim, .homeHero3 span.claim{
	display: block;
	margin-top:4px;
}

.intro{
	width:412px;
	margin:auto;
	padding:0 32px;
}

.heroTablet{
	display:none;
}

.info{
	padding:32px 0 0 0;
}

.action{
	padding: 0 0 32px 0;
}

.mosaic2, .mosaic3, .mosaic3b, .mosaic4{
	width:100%;
	height:auto;
	display: grid;
	grid-gap: 32px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: 4fr;
}

.mosaic2 img:first-child{
	grid-column:1/3;
	grid-row:1/5;
}

.mosaic2 img:nth-child(2){
	grid-column:3/5;
	grid-row:1/5;
}

.mosaic3 img:nth-child(2){
	grid-column:3/5;
	grid-row:1/3;
}

.mosaic3 img:first-child{
	grid-column:1/3;
	grid-row:1/5;
}

.mosaic3 img:nth-child(2){
	grid-column:3/5;
	grid-row:1/3;
}

.mosaic3 img:nth-child(3){
	grid-column:3/5;
	grid-row:3/5;
}

.mosaic3b img:first-child{
	grid-column:1/5;
	grid-row:1/3;
}

.mosaic3b img:nth-child(2){
	grid-column:1/3;
	grid-row:3/5;
}

.mosaic3b img:nth-child(3){
	grid-column:3/5;
	grid-row:3/5;
}

.mosaic3 img, .mosaic3b img, .mosaic4 img{
	width: 100%;
	height: auto;
}

.mosaic4 img:first-child{
	grid-column:1/3;
	grid-row:1/3;
}

.mosaic4 img:nth-child(2){
	grid-column:1/3;
	grid-row:3/5;
	
}

.mosaic4 img:nth-child(3){
	grid-column:3/5;
	grid-row:1/3;
}

.mosaic4 img:nth-child(4){
	grid-column:3/5;
	grid-row:3/5;
}

.video p{
	margin-top:8px;
	margin-bottom:80px;
}

.video img{
	width: 100%;
}

.video div.btn{
	color:white;
	background-color: black;
	width:64px;
	height: 64px;
	border-radius: 64px;
	text-align: center;
	padding-top:18px;
	font-size: 15px;
	position: absolute;
	margin-top:calc(25% - 16px);
	margin-left:calc(50% - 32px);
}

.video div.btn:hover{
	cursor: pointer;
	transform:scale(1.1);
}



.detail, .imgContainer{
	border-top:#E1E1E1 1px solid;
	display: flex;
	padding:64px 0;
}

.detail h3, .imgContainer h3{
	margin-bottom:8px;
}

.detail img{
	width:auto;
}

.detail span{
	width:85%;
}

.imgContainer{
	align-items: center!important;
}

.detail div:first-child, .imgContainer div:first-child{
	padding-right:64px;
}

.detail figure img, .imgContainer figure img{
	width: calc(100%);
	padding-left:0;
}

.detail ol{
	counter-reset: feat-list;
	list-style-type: none;
	margin:-16px 0 0 0;
	padding:0;
}

.detail ol p{
	margin-bottom:15px;
}

.detail ol:nth-child(2){
	margin-top:-12px;
}

.detail li{
	display:flex;
	justify-content: space-between;
	padding:24px 0;
	border-bottom:#E1E1E1 1px solid;
	align-items: center;
	height: 96px;
}

.detail li:last-of-type{
	border:none;
}

.detail li span{
	align-items: center;
	display: block;
	line-height: 1.2em;
	width:100%;
}

.detail li b{
	font-size: 15px;
}

.detail li div{
	display: inline-flex;
}

.detail li div::before{
	list-style:none;
	counter-increment: feat-list;
	content: counter(feat-list) ". ";
	font-size: x-small;
	margin-right: 16px;
	margin-top:-1px;
}

figure.figure{
	margin:0;
}

.fichaTecnica{
	margin-top:-3px;
}

.estoque{
	position: flex;
	border-top:#E1E1E1 1px solid;
	border-bottom:#E1E1E1 1px solid;
	padding:8px 0;
	overflow: hidden;
	height:62px;
	transition: 0.4s cubic-bezier(.77,.17,.52,.9);
}


.estoque div.heading{
	width:100%;
	display: inline-flex;
	justify-content: space-between;
	font-size: 15px;
	opacity: 0.45;
	padding:8px 0;

}

.estoque div.heading:hover{
	opacity: 1;
	cursor: pointer;
}

.estoque ul{
	margin:0;
	padding:0;
	list-style: none;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	line-height: 1.4em!important;
}

.estoque li{
	display: flex;
	width: 100%;
	padding:8px 0;
	min-height: 42px;
}

.estoque li:hover{
	cursor:pointer;
	/* color: #999B9F; */
	
}
.estoque li:hover span span{
	color: #999B9F;
}

.estoque li:hover img{
	opacity: 0.45;
}

.estoque li div{
	width:100%;
}

.estoqueOpenState{
	height:216px;
	transition: 0.6s cubic-bezier(.77,.17,.52,.9);
}

.estoqueOpenStateNido{
	height:760px;
	transition: 1.2s cubic-bezier(.77,.17,.52,.9);
}

.estoqueOpenStateOurania{
	height:124px;
	transition: 0.6s cubic-bezier(.77,.17,.52,.9);
}

.estoqueOpenStateHarmonia{
	height:276px;
	transition: 0.6s cubic-bezier(.77,.17,.52,.9);
}

.topmiddle{
	align-items: inherit;
}

.homeHero{
	border-bottom:#E1E1E1 1px solid;
	margin-bottom:64px;
}

.homeHero div.homeInfo{
	margin-top:-8px;
	padding-bottom:64px
}

.homeHero p, .homeInfo2 p{
	margin:8px 0 0 0;
}

.homeHero h1, .homeInfo2 h1{
	margin:0 0 12px 0;
}

.homeHero2{
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.homeImgRight{
	position:absolute;
	right:0;
}

.imgHero img{
	position: sticky;
	position: -webkit-sticky;
	top:32px;
}

@media (max-width:1280px){

	.heroTeste4{
		height: auto;
	}

	.homeImgLeft{
		width:50%;
	}

	.homeImgLeft img{
		width:100%;
		height: auto;
	}

	.heroTeste4 div.heroContainer{
		padding-left: 32px;
	}
	
	.homeImgRight{
		position:relative;
		text-align: right;	
	}
}


@media (max-width:1080px){

	.homeHero4 div.heroContainer{
		width:100%;
		height: auto;
		margin-right:32px;
	}
	
	.homeHero4, .heroTeste4{
		height: auto;
		padding-bottom:32px;
	}

	.homeImgRight img{
		width:100%;
		height: auto;
	}

	.heroTeste4 div.heroContainer{
		width:50%;
		height: auto;
		padding-right:32px;	
	}

	.heroTeste4 img{
		width:100%;
		height: auto;
	}
	
	.hero, .heroTeste2{
		display: flex;
		flex-flow: wrap-reverse;
	}

	.heroTeste{
		margin-top:-32px;
	}

	.heroTeste3, .homeHero3{
		display: flex;
		flex-flow: wrap;
	}

	.hero div.heroContainer, .heroTeste2 div.heroContainer, .heroTeste3 div.heroContainer, .homeHero3 div.heroContainer{
		width:100%;
		margin-top:32px;
		margin-right:0;
		padding:0;
	}

	.heroTeste3 div.heroContainer, .homeHero3 div.heroContainer{
		width:80%;
	}

	.homeHero3 div.heroContainer{
		padding-bottom:16px;
		margin-top:16px;
	}

	.heroTeste2 div.heroContainer{
		padding:0 32px;
	}

	.intro{
		width:100%;
		display: flex;
		padding:0;
	}

	.intro div.info{
		width:100%;
	}
	
	.info{
		padding:0;
	}
	
	.action{
		padding:0;
	}

	.estoque{
		width:340px;
		margin-top:36px;
	}

	.heroTeste2 div.heroContainer div.estoque{
		margin-bottom:32px;
	}

	.heroTeste3 div.action, .homeHero3 div.action{
		padding:0;
		position:absolute;
		right:0;
		height: 56px;
		display: flex;
		flex-direction: row-reverse;
	}

	.heroTeste3 div.action div, .homeHero3 div.action div{	
		margin-top:0;
		margin-right:0;
		margin-left:32px;
	}


	.heroTeste3 span.claim, .homeHero3 span.claim{
		width:60%;
		display: block;
		margin-top:4px;
	}

	.detail div:first-child, .imgContainer div:first-child{
		padding-right:32px;
	}


	.detail ol:nth-child(2){
		margin-top:32px;
	}
}


@media (max-width:767px){


	.hero div img.heroImg, .heroTeste3 div img.heroImg, .homeHero3 div img.heroImg{
		height:calc(100vw - 64px);
		object-fit:cover;
	}


	.homeHero4{
		display: flex;
		flex-wrap: wrap-reverse;
		top:0;
		height:auto;
		margin:0;
		padding:0;
	}

	.homeHero4 div.heroContainer{
		position:inherit;
		margin-bottom:36px;
	}

	.homeImgRight{
		margin-bottom:24px;
	}

	.hero{
		padding-bottom:24px;
	}

	.homeInfo{
		padding:0;
	}

	.heroTeste3 div.heroContainer, .homeHero3 div.heroContainer{
		width:100%;
		margin-top:24px;
	}

	.intro{
		display: flex;
		flex-direction: column;
	}

	.heroTeste3 div.action, .homeHero3 div.action{
		right:auto;
		left:0;
		margin-top:24px;
		padding:0;
		position: relative;
		flex-direction: row;
	}

	.heroTeste3 div.action div, .homeHero3 div.action div{
		margin-left:0;
		margin-right:24px;
	}

	.mosaic2, .mosaic3, .mosaic3b, .mosaic4{
		display: flex;
		flex-direction: column;
		margin-top:-48px;
	}

	.mosaic2 img, .mosaic3 img, .mosaic3b img, .mosaic4 img{
		margin-top:24px;
	}

	.detail, .imgContainer{
		border-top:#E1E1E1 1px solid;
		display: flex;
		flex-direction:column;
		padding:48px 0 48px 0;
	}

	.detail ol{
		margin:0px 0 -16px 0;
	}

	.detail ol li:last-child{
		border-bottom: none;
	}

	.imgContainer{
		flex-direction:column-reverse;
	}
	
	.figure img{
		margin-bottom:24px;
	}

	.estoque{
		margin-top:24px;
		width:100%;
	}
	
	.heroTeste3, .heroTeste4{
		display: flex;
		flex-direction: column-reverse;
	}

	.homeHero3{
		display: flex;
		flex-direction: column;
	}

	.heroTeste3 span.claim, .heroTeste4 span.claim, .homeHero3 span.claim{
		margin-top:4px;
		display: block;
		width:90%;
	}

	.heroTeste3 div.heroContainer, .heroTeste4 div.heroContainer, .homeHero3 div.heroContainer{
		width: 100%;
		padding:0;
		position: unset;
		margin-bottom:24px;
		margin-top:0;
	}

	.homeHero3 div.heroContainer{
		margin-bottom:0;
	}

	.homeImgLeft{
		width: 100%;
		margin-bottom:24px;
	}

	.detail span, .imgContainer p{
		width:105%;
	}


}